<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="copyright">© 2019, Rembrigada116.ru - Ремонт квартир
                                   и коттеджей в Казани. Все права защищены.</div>

            <ul class="list-social">
                <li><a href="#" class="vk"></a></li>
                <li><a href="#" class="inst"></a></li>
                <li><a href="#" class="ok"></a></li>
                <li><a href="#" class="youtube"></a></li>
            </ul>

            <div class="doc-text">
                <p>ИНН 163300422218</p>
                <p>ОГРНИП  313169008600154</p>
            </div>
            
            <div class="metrics">
                <div class="box"><img src="img/metriks.png" alt=""></div>
                <div class="box"><img src="img/14232.png" alt=""></div>
            </div>
        </div>

        <div class="footer-bottom">
            <a href="#" class="maps-site">Карта сайта</a>
            <a href="#" class="terms" target="_blank" >Пользовательское соглашение</a>
            <a href="#" class="politics" target="_blank">Политика конфиденциальности и обработки персональных данных</a>
        </div>


    </div>

    <a href="#" id="btn-top"><img src="img/arrow-top.png" alt=""></a>
</footer>